@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
  --black:#000;
  --orange:#ff9f1a;
}

body 
{background-color: #fff;}



*{
  font-family: 'Nunito', sans-serif;
  margin: 0; padding:0;
  box-sizing: border-box;
  outline: none; border:none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top:6rem;
  scroll-behavior: smooth;
}

section{
  padding:2rem 9%;
}

.heading{
  text-align: center;
  text-transform: uppercase;
  font-size: 4rem;
  color:var(--black);
  padding:1rem;
}

.heading span{
  text-transform: uppercase;
  color:var(--orange);
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  border-radius: .5rem;
  border:.2rem solid var(--black);
  font-weight: bolder;
  font-size: 1.7rem;
  color:var(--black);
  cursor: pointer;
  background:#89CFF0;
  padding:.8rem 3rem;
}

.btn:hover{
  background:var(--orange);
  color:99ddff;
}

header{
  position: relative;
  top:0; left:0; right:0;
  z-index: 1000;
  background:#89CFF0;
  padding:2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
  font-size: 2.5rem;
  color:var(--black);
}

header .navbar a{
  font-size: 1.7rem;
  color:var(--black);
  margin:0 1rem;
}

header .navbar a:hover{
  color:var(--orange);
}

header .icons a{
  font-size: 2.5rem;
  color:var(--black);
  margin-left:1.5rem;
}

header .icons a:hover{
  color:var(--orange);
}

#menu-bar{
  font-size: 2.5rem;
  padding: .5rem 1.5rem;
  border:.1rem solid var(--black);
  color:var(--black);
  border-radius: .3rem;
  cursor: pointer;
  display: none;
}


.zoom {
  position: relative;
  width: 30%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.zoom:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}





.container {
  position: absolute;
  top: 13.5%;
  left: 63%;
  width: 25%;
  height: 55%;
}

.image {
  display: block;
  width: 110%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 110%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  height: 100%;
}

.image {
  display: block;
  width: 110%;
  height: 100%;
}



.featured .row{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  border:.1rem solid rgba(0,0,0,.1);
  border-radius: .5rem;
  background:#595959;
  padding:2rem;
  align-items: center;
  margin:1.5rem 0;
}

.featured .row .content{
  flex:1 1 40rem;
}

.featured .row .image-container{
  display:flex;
  gap:1.5rem;
  align-items: center;
  flex:1 1 50rem;
}

.featured .row .image-container .small-image{
  width:20%;
}

.featured .row .image-container .big-image{
  width:80%;
  padding:1rem;
}

.featured .row .image-container .small-image img{
  width:100%;
  padding:1rem;
  border:.1rem solid rgba(0,0,0,.3);
  cursor: pointer;
}

.featured .row .image-container .small-image img:hover{
  background:#ccc;
}

.featured .row .image-container .big-image img{
  width:100%;
}

.featured .row .image-container .big-image img:hover{
  transform: scale(1.05);
}

.featured .row .content h3{
  font-size: 2.5rem;
  color:var(--black);
}

.featured .row .content .stars i{
  font-size: 1.7rem;
  color:var(--orange);
  padding:.5rem 0;
}

.featured .row .content p{
  font-size: 1.5rem;
  color:#fff;
  padding:1rem 0;
}

.featured .row .content .price{
  font-size: 2.5rem;
  color:var(--black);
  font-weight: bolder;
}

.featured .row .content .price span{
  font-size: 1.5rem;
  color:var(--orange);
  text-decoration: line-through;
}




.products .box-container{
 Position: relative;
  top: 120%;
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.products .box-container .box{
  border:.1rem solid rgba(0,0,0,.1);
  border-radius: .5rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  background:#595959;
  flex:1 1 30rem;
}

.products .box-container .box .content{
  padding:1.5rem;
}

.products .box-container .box img{
  height:10rem;
  transform: rotate(-35deg);
  filter:drop-shadow(0 .5rem 1rem rgba(0,0,0,.1));
  margin:8rem 2rem;
}

.products .box-container .box:hover img{
  transform: rotate(-35deg) scale(1.2);
}

.products .box-container .box .icons{
  display: flex;
  flex-flow: column;
  position: absolute;
  top:.5rem; left:-10rem;
}

.products .box-container .box:hover .icons{
  left:1rem;
}

.products .box-container .box .icons a{
  height:4.5rem;
  width:5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color:var(--black);
  border:.1rem solid var(--black);
  border-radius: .5rem;
  background:#fff;
  margin-top: .5rem;
}

.products .box-container .box .icons a:hover{
  background:var(--orange);
  color:#fff;
}

.products .box-container .box .content h3{
  color:var(--black);
  font-size: 2.5rem;
}

.products .box-container .box .content .price{
  color:var(--black);
  font-size: 2.5rem;
  font-weight: bolder;
  padding:1rem 0;
}

.products .box-container .box .content .price span{
  color:var(--orange);
  font-size: 1.5rem;
  text-decoration: line-through;
}

.products .box-container .box .content .stars{
  padding-bottom: 1rem;
}

.products .box-container .box .content .stars i{
  font-size: 1.7rem;
  color:var(--orange);
}





.see{
  display: inline-block;
  position: relative;
  left: 88%;
  margin-top: 1rem;
  border-radius: .8rem;
  border:.2rem solid var(--black);
  font-weight: bolder;
  font-size: 1.7rem;
  color:var(--black);
  cursor: pointer;
  background:#cccc00;
  padding:.4rem 2rem;
}

.see:hover{
  background:#e60000;
  color:fff;
}







.formals .box-container{
 Position: relative;
  top: 120%;
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.formals .box-container .box{
  border:.1rem solid rgba(0,0,0,.1);
  border-radius: .5rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  background:#595959;
  flex:1 1 30rem;
}

.formals .box-container .box .content{
  padding:1.5rem;
}

.formals .box-container .box img{
  height:10rem;
  transform: rotate(-35deg);
  filter:drop-shadow(0 .5rem 1rem rgba(0,0,0,.1));
  margin:8rem 2rem;
}

.formals .box-container .box:hover img{
  transform: rotate(-35deg) scale(1.2);
}

.formals .box-container .box .icons{
  display: flex;
  flex-flow: column;
  position: absolute;
  top:.5rem; left:-10rem;
}

.formals .box-container .box:hover .icons{
  left:1rem;
}

.formals .box-container .box .icons a{
  height:4.5rem;
  width:5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color:var(--black);
  border:.1rem solid var(--black);
  border-radius: .5rem;
  background:#fff;
  margin-top: .5rem;
}

.formals .box-container .box .icons a:hover{
  background:var(--orange);
  color:#fff;
}

.formals .box-container .box .content h3{
  color:var(--black);
  font-size: 2.5rem;
}

.formals .box-container .box .content .price{
  color:var(--black);
  font-size: 2.5rem;
  font-weight: bolder;
  padding:1rem 0;
}

.formals .box-container .box .content .price span{
  color:var(--orange);
  font-size: 1.5rem;
  text-decoration: line-through;
}

.formals .box-container .box .content .stars{
  padding-bottom: 1rem;
}

.formals .box-container .box .content .stars i{
  font-size: 1.7rem;
  color:var(--orange);
}






.adidas .box-container{
 Position: relative;
  top: 120%;
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.adidas .box-container .box{
  border:.1rem solid rgba(0,0,0,.1);
  border-radius: .5rem;
  text-align: center;
  position: relative;
  overflow: hidden;
  background:#595959;
  flex:1 1 30rem;
}

.adidas .box-container .box .content{
  padding:1.5rem;
}

.adidas .box-container .box img{
  height:10rem;
  transform: rotate(-35deg);
  filter:drop-shadow(0 .5rem 1rem rgba(0,0,0,.1));
  margin:8rem 2rem;
}

.adidas .box-container .box:hover img{
  transform: rotate(-35deg) scale(1.2);
}

.adidas .box-container .box .icons{
  display: flex;
  flex-flow: column;
  position: absolute;
  top:.5rem; left:-10rem;
}

.adidas .box-container .box:hover .icons{
  left:1rem;
}

.adidas .box-container .box .icons a{
  height:4.5rem;
  width:5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  color:var(--black);
  border:.1rem solid var(--black);
  border-radius: .5rem;
  background:#fff;
  margin-top: .5rem;
}

.adidas .box-container .box .icons a:hover{
  background:var(--orange);
  color:#fff;
}

.adidas .box-container .box .content h3{
  color:var(--black);
  font-size: 2.5rem;
}

.adidas .box-container .box .content .price{
  color:var(--black);
  font-size: 2.5rem;
  font-weight: bolder;
  padding:1rem 0;
}

.adidas .box-container .box .content .price span{
  color:var(--orange);
  font-size: 1.5rem;
  text-decoration: line-through;
}

.adidas .box-container .box .content .stars{
  padding-bottom: 1rem;
}

.adidas .box-container .box .content .stars i{
  font-size: 1.7rem;
  color:var(--orange);
}














.footer .box-container{
  border:.1rem solid rgba(0,0,0,.1);
  border-radius: .5rem;
  background:#595959;
  padding:2rem;
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.footer .box-container .box{
  flex:1 1 20rem;
}

.footer .box-container .box h3{
  color:var(--black);
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}

.footer .box-container .box a{
  color:#fff;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  display: block;
}

.footer .box-container .box a:hover{
  color:var(--orange);
}

.footer .box-container .credit{
  text-align: center;
  width:100%;
  border-top: .1rem solid rgba(0,0,0,.1);
  font-size: 1.5rem;
  padding:1rem;
  padding-top: 2rem;
  color:#fff;
}

.footer .box-container .credit span{
  color:var(--orange);
}























/* media queries  */

@media (max-width:991px){

  html{
    font-size: 55%;
  }

  header{
    padding:2rem;
  }

  section{
    padding:2rem;
  }

}

@media (max-width:768px){

  #menu-bar{
    display: block;
  }

  header .navbar{
    position: absolute;
    top:100%; left:-120%;
    width:100%;
    background:#fff;
    border-top: .1rem solid rgba(0,0,0,.1);
  }

  header .navbar.active{
    left:0;
  }

  header .navbar a{
    font-size: 2rem;
    background:#fff;
    border:.1rem solid var(--black);
    border-radius: .5rem;
    padding:1.5rem;
    margin:1.5rem;
    display: block;
    text-align: center;
  }

  .home .slide-container .slide .image .text{
    width:60%;
  }

  .home #prev,
  .home #next{
    top:85%;
  }

}

@media (max-width:400px){

  html{
    font-size: 50%;
  }

  .home .slide-container .slide .image{
    padding-bottom: 6rem;
  }

  .heading{
    font-size: 3rem;
  }

}